{"openapi":"3.0.0","info":{"title":"ORDS generated API for Data API/v1 - Corealis Lingote","version":"1.0.0"},"servers":[{"url":"http://emonitor.ewen-energy.com/ords/ewen/API/corealis/v1/"}],"paths":{"/channels":{"get":{"description":"Retrieve records from Data API/v1 - Corealis Lingote","security":[{"BasicAuth":[]},{"BearerAuth":[]},{"OAuth2":[]}],"responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"company_aggr_yn":{"$ref":"#/components/schemas/VARCHAR2"},"company_id":{"$ref":"#/components/schemas/NUMBER"},"dc_id":{"$ref":"#/components/schemas/NUMBER"},"has_cost_yn":{"$ref":"#/components/schemas/VARCHAR2"},"name":{"$ref":"#/components/schemas/VARCHAR2"},"sensor_type":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"company_aggr_yn","in":"path","schema":{"type":"string"},"required":true},{"name":"company_id","in":"path","schema":{"type":"integer"},"required":true},{"name":"cost_yn","in":"path","schema":{"type":"string"},"required":true},{"name":"dc_ids","in":"path","schema":{"type":"string"},"required":true},{"name":"dc_type_id","in":"path","schema":{"type":"integer"},"required":true}]}},"/daily_aggr_datapoints":{"get":{"description":"Retrieve records from Data API/v1 - Corealis Lingote","security":[{"BasicAuth":[]},{"BearerAuth":[]},{"OAuth2":[]}],"responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"con_dc_id":{"$ref":"#/components/schemas/NUMBER"},"dt":{"$ref":"#/components/schemas/VARCHAR2"},"xcost":{"$ref":"#/components/schemas/NUMBER"},"xvalue":{"$ref":"#/components/schemas/NUMBER"}}}}}}}}}},"parameters":[{"name":"dc_ids","in":"path","schema":{"type":"string"},"required":true},{"name":"from_dt","in":"path","schema":{"type":"string"},"required":true},{"name":"to_dt","in":"path","schema":{"type":"string"},"required":true}]}},"/sensor_types":{"get":{"description":"Retrieve records from Data API/v1 - Corealis Lingote","security":[{"BasicAuth":[]},{"BearerAuth":[]},{"OAuth2":[]}],"responses":{"200":{"description":"The queried record.","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"aggr_function":{"$ref":"#/components/schemas/CHAR"},"descr":{"$ref":"#/components/schemas/VARCHAR2"},"id":{"$ref":"#/components/schemas/NUMBER"},"units":{"$ref":"#/components/schemas/VARCHAR2"}}}}}}}}}},"parameters":[]}}},"components":{"securitySchemes":{"BasicAuth":{"type":"http","scheme":"basic"},"BearerAuth":{"type":"http","scheme":"bearer"},"OAuth2":{"type":"oauth2","flows":{"implicit":{"authorizationUrl":"http://emonitor.ewen-energy.com/ords/ewen/oauth/auth","scopes":{}},"authorizationCode":{"authorizationUrl":"http://emonitor.ewen-energy.com/ords/ewen/oauth/auth","tokenUrl":"http://emonitor.ewen-energy.com/ords/ewen/oauth/token","scopes":{}},"clientCredentials":{"tokenUrl":"http://emonitor.ewen-energy.com/ords/ewen/oauth/token","scopes":{}}}}},"schemas":{"CHAR":{"type":"string"},"NUMBER":{"type":"number"},"VARCHAR2":{"type":"string"}}}}