{
  "openapi": "3.0.0",
  "info": {
    "title": "Data API/v1 - Corealis Lingote",
    "version": "1.0.0",
    "description": "REST API for energy monitoring data (channels, daily aggregates, sensor types)\n\n**Authentication**\n\n1. First obtain a bearer token:\n   POST https://emonitor.ewen-energy.com/ords/ewen/oauth/token\n\n2. Add the header to every request below:\n   Authorization: Bearer <your-access-token>\n\nToken expires in 3600 seconds (1 hour)."
  },
  "servers": [
    {
      "url": "https://emonitor.ewen-energy.com/ords/ewen/API/corealis/v1/",
      "description": "Production Server"
    },
    {
      "url": "https://emonitor.ewen-energy.com/ords/ewen/",
      "description": "OAuth Token Endpoint (separate base URL)"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "summary": "Get access token (Client Credentials)",
        "operationId": "getAccessToken",
        "tags": ["Authentication"],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": ["client_credentials"],
                    "example": "client_credentials"
                  }
                },
                "required": ["grant_type"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful token response",
            "content": {
              "application/json": {
                "example": {
                  "access_token": "OdXwqIhtxdrRYQ-dOmSmhw",
                  "token_type": "bearer",
                  "expires_in": 3600
                }
              }
            }
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ]
      }
    },

    "/channels": {
      "get": {
        "summary": "Get filtered list of channels",
        "description": "Retrieve sensor channels with company and cost filters",
        "tags": ["Data"],
        "parameters": [
          {
            "name": "company_aggr_yn",
            "in": "query",
            "schema": { "type": "string", "enum": ["Y", "N"], "example": "Y" }
          },
          {
            "name": "company_id",
            "in": "query",
            "schema": { "type": "integer", "example": 10 }
          },
          {
            "name": "cost_yn",
            "in": "query",
            "schema": { "type": "string", "enum": ["Y", "N"], "example": "Y" }
          },
          {
            "name": "dc_ids",
            "in": "query",
            "schema": { "type": "string", "example": "1,2,3" }
          },
          {
            "name": "dc_type_id",
            "in": "query",
            "schema": { "type": "integer", "example": 4 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of channels",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    {
                      "company_aggr_yn": "Y",
                      "company_id": 10,
                      "dc_id": 1,
                      "has_cost_yn": "Y",
                      "name": "Main Power Input",
                      "sensor_type": 5
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },

    "/daily_aggr_datapoints": {
      "get": {
        "summary": "Get daily aggregated data",
        "description": "Retrieve daily totals (value and cost) for specified data collectors and date range",
        "tags": ["Data"],
        "parameters": [
          {
            "name": "dc_ids",
            "in": "query",
            "schema": { "type": "string", "example": "1,2" }
          },
          {
            "name": "from_dt",
            "in": "query",
            "schema": { "type": "string", "format": "date", "example": "2025-01-01" }
          },
          {
            "name": "to_dt",
            "in": "query",
            "schema": { "type": "string", "format": "date", "example": "2025-01-07" }
          }
        ],
        "responses": {
          "200": {
            "description": "Daily aggregated datapoints",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    { "con_dc_id": 1, "dt": "2025-01-01", "xvalue": 2450.5, "xcost": 367.57 }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },

    "/sensor_types": {
      "get": {
        "summary": "Get all sensor types",
        "description": "List available sensor types with units and aggregation functions",
        "tags": ["Data"],
        "responses": {
          "200": {
            "description": "Sensor types",
            "content": {
              "application/json": {
                "example": {
                  "items": [
                    { "id": 5, "descr": "Active Energy", "units": "kWh", "aggr_function": "S" }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },

  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your bearer token obtained from POST /oauth/token"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Client ID as username, Client Secret as password"
      }
    }
  }
}